div.breadcrumb {
  background-color: #fcfbf9;
  margin-bottom: 0px;

}

p.breadcrumb-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #43434c;
  margin: 0px;
  padding: 15px 0 15px 0;
}

p.breadcrumb-text>span {
  color: #e8500e;
}