div.download_app {
  background-image: url("../images/download_app/download_paper_top.png"),
  url("../images/download_app/download_paper_bottom.png");
  background-repeat:  repeat-x, repeat-x;
  background-position-y:  top, bottom;
  background-position-x:  center, center;
  background-clip: padding-box, padding-box, padding-box;
  padding: 10px 0 5px 0;
}

div.download_app>div.download_app-color {
  background-image: url("../images/download_app/iphone6.png");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: 236px;
  background-clip: content-box;
  background-color: #e8500e;
}

div.download_app>img.phone {
 margin-left: 240px;
}

div.download_app>div.download_app-color>img.apple, img.google, p.download_app-title, p.download_app-description {
  display: inline-block;
}

div.download_app>div.download_app-color>p.download_app-title {
  font-family: "Roboto Slab";
  font-size: 26px;
  color: #fcfaf8;
  margin: 67px 0 25px 50%;
}

div.download_app>div.download_app-color>p.download_app-description {
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 16px;
  color: #fcfaf8;
  width: 35%;
  margin: 0 0 35px 50%;
}

div.download_app>div.download_app-color> img.google {
  margin: 0 0 55px 50%;
}

div.download_app>div.download_app-color> img.apple {
  margin: 0 0 55px 0;
}

@media screen and (max-width: 1076px)  {

    div.download_app>div.download_app-color {
      background-position-x: 8px;
    }

}

@media screen and (max-width: 877px)  {
  div.download_app>div.download_app-color>p.download_app-description {
    display: none;
  }
}

@media screen and (max-width: 570px)  {
  div.download_app>div.download_app-color>img.google {
    margin: 0 0 15px 55%;
  }
  div.download_app>div.download_app-color>img.apple {
    margin: 0 0 55px 55%;
  }

}

@media screen and (max-width: 426px)  {
  div.download_app>p.download_app-title {
    margin-left: 245px;
  }
}