@font-face {
  font-family: "WhatEverItTakes";
  src: url("/fonts/whatever_it_takes.eot");
  src: local('☺'),
  url("/fonts/whatever_it_takes.eot?#iefix") format("embedded-opentype"),
  url("/fonts/whatever_it_takes.ttf") format("truetype"),
  url("/fonts/whatever_it_takes.svg#PT Serif") format("svg");
}

@font-face {
  font-family: "WhatEverItTakes Bold";
  src: url("/fonts/whatever_it_takes_bold.eot");
  src: local('☺'),
  url("/fonts/whatever_it_takes_bold.eot?#iefix") format("embedded-opentype"),
  url("/fonts/whatever_it_takes_bold.ttf") format("truetype"),
  url("/fonts/whatever_it_takes_bold.svg#PT Serif") format("svg");
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/open_sans.eot");
  src: local('☺'),
  url("/fonts/open_sans.eot?#iefix") format("embedded-opentype"),
  url("/fonts/open_sans.ttf") format("truetype"),
  url("/fonts/open_sans.svg#PT Serif") format("svg");
}

@font-face {
  font-family: "MyriadPro";
  src: url("/fonts/myriadpro-regular.eot");
  src: local('☺'),
  url("/fonts/myriadpro-regular.eot?#iefix") format("embedded-opentype"),
  url("/fonts/myriadpro-regular.otf") format("truetype"),
  url("/fonts/myriadpro-regular.svg#PT Serif") format("svg");
}
