div.featured_restaurants {
  background-image: url("../images/featured_restaurants_section/featured_restaurants_pattern.png");
}

div.featured_restaurants-title>p.featured_restaurants-title {
  font-family: "Roboto Slab";
  font-size: 24px;
  color: #414551;
  margin-top: 110px;
}

div.featured_restaurants-navigation>ul>li>a {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  color: #414551;
  margin-top: 110px;
}

div.featured_restaurants-features>div.featured_restaurants-feature {
  border: 1px #ededed solid;
  padding: 15px 17px 15px 15px;
  background-color: #fcfbf9;
  margin: 0 0 30px 0;
  width: 48.6%;
}

div.featured_restaurants-features>div.featured_restaurants-feature:nth-child(even) {
  margin: 0 0 30px 30px;
}

div.featured_restaurants-features>div.featured_restaurants-feature>img.logo {
  float: left;
}

div.featured_restaurants-features>div.featured_restaurants-feature>p.featured_restaurants-feature-title {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  color: #414551;
  //display: inline-block;
  margin-left: 114px;
}

div.featured_restaurants-features>div.featured_restaurants-feature>p.featured_restaurants-feature-tags {
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 14px;
  color: #748796;
  margin-left: 114px;
}

div.featured_restaurants-features>div.featured_restaurants-feature>div.featured_restaurants-feature-info-row {
  margin-left: 114px;
}

div.featured_restaurants-features>div.featured_restaurants-feature>div.featured_restaurants-feature-info-row>img {
   display: inline-block;
 }

div.featured_restaurants-features>div.featured_restaurants-feature>div.featured_restaurants-feature-info-row>p {
  display: inline-block;
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 12px;
  color: #748796;
}

div.featured_restaurants-features>div.featured_restaurants-feature>div.featured_restaurants-feature-info-row>p:last-child {
  display: inline-block;
  font-family: "MyriadPro";
  font-weight: normal;
  font-size: 12px;
  color: #748796;
}

div.featured_restaurants-features>div.featured_restaurants-feature>div.featured_restaurants-feature-info-row>img.delivery,img.star {
  margin-left: 47px;
}

@media screen and (max-width: 1200px)  {
  div.featured_restaurants-features>div.featured_restaurants-feature {
    width: 100%;
    //margin:  0px;
  }
  div.featured_restaurants-features>div.featured_restaurants-feature:nth-child(even) {
    margin: 0 0 30px 0;

  }
}

@media screen and (max-width: 994px)  {
  div.featured_restaurants-navigation>ul {
    float: none !important;
  }

  div.featured_restaurants-navigation>ul>li>a {
    margin-top: 10px;
  }
}

@media screen and (max-width: 426px)  {
  div.featured_restaurants-title>p.featured_restaurants-title {
    margin-top: 20px;
  }
}