

div.info>div.background {
  padding: 12px 0 0 0;
  background-image: url("../images/info/bottom_pattern.png"),
  url("../images/info/city_illustration.png"),
  url("../images/info/salat.png"),
  url("../images/info/nuts.png"),
  url("../images/info/top_pattern.png"),
  url("../images/info/info_pattern.png");
  background-position-y: bottom, bottom, top, top, top, center;
  background-position-x: center, center, left, right, center, center;
  background-repeat: repeat-x, repeat-x, no-repeat, no-repeat, repeat-x, repeat;
  background-clip: padding-box, padding-box, content-box, border-box, padding-box, padding-box;
}

h2.info {
  font-family: "Roboto Slab";
  font-size: 20pt;
  color: #d8bea5;
  margin-top: 78px;
  margin-bottom: 0px;
}

div.info-step-1>div.info-step-1-icon-round>img.home  {
  background-image: url("../images/info/circle_border.png");
  background-repeat: no-repeat;
  padding: 25px 30px 30px 25px;
}



div.info-step-1>div.info-step-1-step-base>p.info-step-1-step {
  font-family: "WhatEverItTakes";
  font-size: 22px;
  color: #ffffff;
  margin: 0 0 0 130px;
  padding: 0px 11px 1px 11px;
  background-image: url("../images/info/step_base.png");
  background-repeat: no-repeat;
  position: absolute;

}

div.info-step-1>p.info-step-1-text {
  font-family: "Roboto Slab";
  font-size: 24px;
  color: #ffffff;
  margin-top: 70px;
}

div.info-step-1>p.info-step-1-description {
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 14px;
  margin-top: 16px;
  width: 90%;
  margin: 0 auto;
}

div.info-step-1>img.info-step-1-arrow {
  position: absolute;
  margin: 0 0 0 250px;
}

div.info-step-2>div.info-step-2-icon-round>img.foodorder  {
  background-image: url("../images/info/circle_border.png");
  background-repeat: no-repeat;
  padding: 25px 30px 30px 25px;
}

div.info-step-2>div.info-step-2-step-base {
  margin-top: 100px;
}

div.info-step-2>div.info-step-2-step-base>p.info-step-2-step {
  font-family: "WhatEverItTakes";
  font-size: 22px;
  color: #ffffff;
  margin: 0 0 0 130px;
  padding: 0px 11px 1px 11px;
  background-image: url("../images/info/step_base.png");
  background-repeat: no-repeat;
  position: absolute;
}

div.info-step-2>p.info-step-2-text {
  font-family: "Roboto Slab";
  font-size: 24px;
  color: #ffffff;
  margin-top: 70px;
}

div.info-step-2>p.info-step-2-description {
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 14px;
  margin-top: 16px;
  width: 90%;
  margin: 0 auto;
}

div.info-step-3>div.info-step-3-icon-round>img.delivery  {
  background-image: url("../images/info/circle_border.png");
  background-repeat: no-repeat;
  padding: 25px 30px 30px 25px;
}

div.info-step-3>div.info-step-3-step-base>p.info-step-3-step {
  font-family: "WhatEverItTakes";
  font-size: 22px;
  color: #ffffff;
  margin: 0 0 0 130px;
  padding: 0 11px 1px 11px;
  background-image: url("../images/info/step_base.png");
  background-repeat: no-repeat;
  position: absolute;
}

div.info-step-3>p.info-step-3-text {
  font-family: "Roboto Slab";
  font-size: 24px;
  color: #ffffff;
  margin-top: 70px;
}

div.info-step-3>p.info-step-3-description {
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 14px;
  margin-top: 16px;
  width: 85%;
  margin: 0 auto;
}

div.info-step-3>img.info-step-3-arrow-1 {
  position: absolute;
  margin: 0 150px 0 0;
  right: 150px;
}

div.info-footer>p.info-footer {
  color: #d8bea5;
  font-family: "Open Sans";
  font-size: 16px;
  margin: 78px 0 100px 0;
}

@media screen and (max-width: 1200px) {
  div.info-step-1>div.info-step-1-step-base>p.info-step-1-step {
    margin: 0 0 0 90px;
  }

  div.info-step-2>div.info-step-2-step-base>p.info-step-2-step {
    margin: 0 0 0 90px;
  }

  div.info-step-3>div.info-step-3-step-base>p.info-step-3-step {
    margin: 0 0 0 90px;
  }

  div.info-step-1>img.info-step-1-arrow {
    margin: 0 0 0 200px;
  }

  div.info-step-3>img.info-step-3-arrow-1 {
    position: absolute;
    margin: 0 75px 0 0;
    right: 150px;
  }
}

@media screen and (max-width: 990px) {
  h2.info {
    margin-bottom: 40px;
  }

  div.info-step-1>div.info-step-1-step-base>p.info-step-1-step {
    margin: 0 0 0 300px;
  }

  div.info-step-2>div.info-step-2-step-base>p.info-step-2-step {
    margin: 0 0 0 300px;
    top: 160px;
  }

  div.info-step-3>div.info-step-3-step-base>p.info-step-3-step {
    margin: 0 0 0 300px;
  }

  div.info-step-1>img.info-step-1-arrow {
    display: none;
  }

  div.info-step-3>img.info-step-3-arrow-1 {
    display: none;
  }

  div.info-step-1>p.info-step-1-text {
    margin-top: 30px;
  }

  div.info-step-1>p.info-step-1-description {
    margin-bottom: 40px;
  }

  div.info-step-2>p.info-step-2-text {
    margin-top: 30px;
  }

  div.info-step-2>p.info-step-2-description {
    margin-bottom: 40px;
  }

  div.info-step-3>p.info-step-3-text {
    margin-top: 30px;
  }

  div.info-step-3>p.info-step-3-description {
    margin-bottom: 40px;
  }

  div.info-footer>p.info-footer {
    margin: 20px 0 10px 0;
  }
}

@media screen and (max-width: 767px) {
  div.info-step-1>div.info-step-1-step-base>p.info-step-1-step {
    display: none;
  }

  div.info-step-2>div.info-step-2-step-base>p.info-step-2-step {
    display: none;
  }

  div.info-step-3>div.info-step-3-step-base>p.info-step-3-step {
    display: none;
  }
}