div.main-footer {
  background-image: url("../images/footer/footer_pattern.png");
}

div.main-footer-brand>p.what_ever_it_takes {
  font-family: "WhatEverItTakes";
  font-size: 24px;
  color: #ffffff;
  margin: 90px 0 20px 0;
}

div.main-footer-brand>p.what_ever_it_takes>span {
  color: #E8500E;
}

div.main-footer-brand>p.main-footer-brand-under_logo {
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 14px;
  color: #a2a2a3;
}

p.main-footer-menu-title {
  font-family: "Roboto Slab";
  font-weight: lighter;
  font-size: 21px;
  color: #ffffff;
  margin: 90px 0 0 0;
}

a.link {
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 14px;
  color: #a2a2a3;
  padding: 0 0 15px 0;
}

div.main-footer-payment>p.main-footer-payment {
  font-family: "Roboto Slab";
  font-weight: lighter;
  font-size: 21px;
  color: #ffffff;
  margin: 90px 0 27px 0;
}

div.main-footer-payment>img {
  margin: 0 10px 0 0;
}

div.main-footer-payment>img:first-child {
  margin: 0 0 0 0;
}

div.main-footer-adress>p.main-footer-adress-title {
  font-family: "Roboto Slab";
  font-weight: lighter;
  font-size: 21px;
  color: #ffffff;
  margin: 90px 0 27px 0;
}

div.main-footer-adress>p.main-footer-adress-description {
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 14px;
  color: #a2a2a3;
}

div.main-footer-adress>p.main-footer-adress-phone {
  font-family: "Roboto Slab";
  font-weight: lighter;
  font-size: 21px;
  color: #ffffff;
  margin: 25px 0 65px 0;
}

div.main-footer-adress>p.main-footer-adress-phone>span {
  font-family: "WhatEverItTakes";
  font-size: 21px;
  color: #E8500E;
  margin: 15px 0 45px 0;
}

div.main-footer-addition-informations>p.main-footer-addition-informations-title {
  font-family: "Roboto Slab";
  font-weight: lighter;
  font-size: 21px;
  color: #ffffff;
  margin: 90px 0 27px 0;
}

div.main-footer-addition-informations>p.main-footer-addition-informations-description {
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 14px;
  color: #a2a2a3;
}

@media screen and (max-width: 988px)  {
  p.footer-title {
    margin-top: 45px;
  }

  div.main-footer-payment>p.main-footer-payment {
    margin-top: 45px;
  }

  div.main-footer-adress>p.main-footer-adress-title {
    margin-top: 45px;
  }

  div.main-footer-brand>p.what_ever_it_takes {
    margin-top: 45px;
  }

  div.main-footer-addition-informations>p.main-footer-addition-informations-title{
    margin-top: 15px;
  }
}