div.background-picture {
  background: url("../images/header/slider_base.png") no-repeat ;
  background-size: cover;
}

.main-menu-logo  {
  font-family: "WhatEverItTakes";
  font-size: 31px;

}

span.main-menu-logo {
  color: #E8500E;
}
p.main-menu-logo {
  color: #FFFFFF;
  margin-bottom: 0px;
}

p.main-menu-under-logo {
  font-family: "Open Sans";
  font-size: 12px;
  color: #b6b6b6;
  margin-top: 0px;
}

ul.main-menu-navigation>li :hover {
  background: none;
}

a.main-menu-navigation {
  color: #d4d3d1;
  font-family: "Montserrat";

}
a.main-menu-navigation.orange {
  font-family: "Montserrat";
  color: #E8500E;
}

div.slider {
  margin-top: 16%;
}

h1.slider-title {
  font-family: "Roboto Slab";
  font-size: 42px;
  color: #ffffff;
}

p.slider-description {
  font-family: "Open Sans";
  font-size: 14px;
  color: #ffffff;
  margin-top:13px;
}

form.slider-search {
  margin-top: 43px;
  margin-bottom: 57px;
}

div.form-group>input.form-control {
  border-radius: 3px;
  width: 336px;
  height: 55px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;

}

div.form-group>input.form-control :active {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;

}

form.slider-search>button {
  border-radius: 3px;
  background-color: #e8500e;
  width: 180px;
  height: 55px;
  border: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #ffffff;
}

img.slider-icon-img {
  margin-left: 36px;
}

p.step-description {
  font-family: "WhatEverItTakes";
  font-size: 14px;
  color: #ffffff;
}

div.steps-image {
  display: inline-block;
}

div.steps-arrow>img {
  position: relative;
  top: -50px;
}

div.steps-image-1>img {
  margin-left: 34px;
  margin-right: 34px;
}

div.steps-image-3>img {
  margin-left: 19px;
  margin-right: 19px;
}

div.steps-image-5>img {
  margin-left: 45px;
  margin-right: 45px;
}

div.steps-icon>img {
  margin-bottom: 10px;
}

div.steps {
  margin-bottom: 14%;
}

@media screen and (max-width: 625px)  {
  div.steps-image-2 {
    display: none;
  }
  div.steps-image-4 {
    display: none;
  }
  div.steps-image-1 {
    margin: 0 30px 0 30px;
  }
  div.steps-image-3 {
    margin-right: 30px;
  }
}

@media screen and (max-width: 426px)  {
  div.steps-image-1>img {
    margin-left: 20px;
    margin-right: 20px;
  }

  div.steps-image-3>img {
    margin-left: 15px;
    margin-right: 15px;
  }

  div.steps-image-5>img {
    margin-left: 20px;
    margin-right: 20px;
  }
}