div.popular-food-section {
  background: bottom url("../images/popular_food/popular_food_pattern.png");
  padding-bottom: 100px;
}

h2.popular-food-title {
  font-family: "Roboto Slab";
  font-size: 32px;
  color: #26262b;
  margin-bottom: 25px;
  margin-top: 65px;
}

p.popular-food-description {
  font-family: "Open Sans";
  font-size: 16px;
  color: #2e2e32;
  margin-bottom: 70px;
}

div.popular-food-card-1>div.popular-food-picture {
  background-image: url("../images/popular_food/card-3/zigzag_pattern.png"),  url("../images/popular_food/card-1/fried_chicken_1.png");
  background-position-x: center, center;
  background-position-y: 100%, top;
  background-repeat: repeat-x, no-repeat;
  padding-bottom: 34px;
  padding-top: 12px;
}

div.popular-food-distance-label>p.popular-food-distance-label-value {
  font-family: "Open Sans";
  font-size: 12px;
  color: #fcfbf9;
  background-color: #e8500e;
  border-radius: 3px;
  padding: 5px 9px 5px 9px;
  width: 56px;
  margin-bottom: 135px;
  margin-left: 18px;
}

div.popular-food-raiting-copy>div.popular-food-raiting>p.popular-food-raiting-copy-reviews {
  font-family: "Open Sans";
  font-size: 10pt;
  color: #fffdfd;
}

div.popular-food-card-2>div.popular-food-picture {
  background-image: url("../images/popular_food/card-3/zigzag_pattern.png"),  url("../images/popular_food/card-2/fried_chicken_2.png");
  background-position-x: center, center;
  background-position-y: 100%, top;
  background-repeat: repeat-x, no-repeat;
  padding-bottom: 34px;
  padding-top: 12px;
}

div.popular-food-card-3>div.popular-food-picture {
  background-image: url("../images/popular_food/card-3/zigzag_pattern.png"),  url("../images/popular_food/card-3/fried_chicken_3.png");
  background-position-x: center, center;
  background-position-y: 100%, top;
  background-repeat: repeat-x, no-repeat;
  padding-bottom: 34px;
  padding-top: 12px;
}

div.popular-food-footer {
  background-color: #fcfbf9;
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;

}

div.popular-food-footer>p.popular-food-footer-name {
  font-family: "Open Sans";
  font-size: 21pt;
  color: #414551;
  padding-top: 20px;
  margin-left: 16px;
}

div.popular-food-footer>p.popular-food-footer-description {
  font-family: "Open Sans";
  font-size: 14pt;
  color: #748796;
  margin-top: 13px;
  margin-left: 16px;
}

div.popular-food-footer>p.popular-food-footer-cost {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 21pt;
  color: #000000;
  margin: 17px 0 21px 16px;
  padding-left: 0px;
}

div.popular-food-footer>input.popular-food-footer-btn {
  margin: 16px 23px 21px 0;
  padding: 10px 16px 10px 16px;
  border: 1px dashed #e8500e;
  color: #e8500e;
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 14px;
}

div.popular-food-footer-logo-company {
  background-color: #fcfbf9;
  border: 1px solid #ededed;
}

div.popular-food-footer-logo-company>div.popular-food-footer-logo-company-logo {
  padding: 12px 12px 12px 3px;
}

div.popular-food-footer-logo-company>div.popular-food-footer-logo-company-company {
  padding: 14px 0 0 0;
}

div.popular-food-footer-logo-company>div.popular-food-footer-logo-company-company>p.popular-food-footer-company-name {
  font-family: "Open Sans";
  font-size: 14px;
  color: #000000;
  margin-bottom: 3px;
}

div.popular-food-footer-logo-company>div.popular-food-footer-logo-company-company>p.popular-food-footer-company-address {
  color: #748796;
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 14px;
}

div.popular-food-card-1>div.popular-food-footer-logo-likes {
  background-color: #fcfbf9;
  border-top: 1px solid #ededed;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  height: 72px;
  padding: 0px;
}

div.popular-food-card-1>div.popular-food-footer-logo-likes>img {
  margin: 0 5px 0 19px;
}

div.popular-food-card-1>div.popular-food-footer-logo-likes>p.popular-food-footer-likes {
  display: inline-block;
  margin: 24px 0 0 5px;
  color: #748796;
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 14px;
}

div.popular-food-card-2>div.popular-food-footer-logo-likes {
  background-color: #fcfbf9;
  border-top: 1px solid #ededed;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  height: 72px;
  padding: 0px;
}

div.popular-food-card-2>div.popular-food-footer-logo-likes>img {
  margin: 0 5px 0 19px;
}

div.popular-food-card-2>div.popular-food-footer-logo-likes>p.popular-food-footer-likes {
  display: inline-block;
  margin: 24px 0 0 5px;
  color: #748796;
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 14px;
}

div.popular-food-card-3>div.popular-food-footer-logo-likes {
  background-color: #fcfbf9;
  border-top: 1px solid #ededed;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  height: 72px;
  padding: 0px;
}

div.popular-food-card-3>div.popular-food-footer-logo-likes>img {
  margin: 0 5px 0 19px;
}

div.popular-food-card-3>div.popular-food-footer-logo-likes>p.popular-food-footer-likes {
  display: inline-block;
  margin: 24px 0 0 5px;
  color: #748796;
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 14px;
}

@media screen and (max-width: 990px)  {
  div.popular-food-card-1>div.popular-food-picture {
    padding-bottom: 0px;
  }
  div.popular-food-card-2>div.popular-food-picture {
    padding-bottom: 0px;
  }
  div.popular-food-card-3>div.popular-food-picture {
    padding-bottom: 0px;
  }

  div.popular-food-distance-label>p.popular-food-distance-label-value {
    margin-bottom: 115px;
  }
  div.popular-food-card-1>div.popular-food-footer-logo-likes {
    border-top: 0px solid #ededed;
    border-left: 1px solid #ededed;
    margin-bottom: 15px;
  }

  div.popular-food-card-2>div.popular-food-footer-logo-likes {
    border-top: 0px solid #ededed;
    border-left: 1px solid #ededed;
    margin-bottom: 15px;
  }

  div.popular-food-card-3>div.popular-food-footer-logo-likes {
    border-top: 0px solid #ededed;
    border-left: 1px solid #ededed;
    margin-bottom: 15px;
  }
}